@import "./colors.module";

.list__item{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    list-style: none;
    color:$--color-primary;
    margin: 5px;
    border: solid $--color-secondary 1px;


    .delete__btn{
        display: flex;
        align-items: center;
        padding: 5px;
        border: solid #dc3545 2px;
        border-radius: 3px;
        color: #dc3545;

        &:hover{
            background-color: #dc3545;
            border-color: transparent;
            color: $--color-primary;
        }
    }
    
}