@import "./colors.module";

.dn__container{

    .nav__menu{
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .nav__logo{
            display: flex;
            align-items: center;

            .nav__logo__title{
                margin-left: 10px;
            }
        }

        .nav__list{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;

            .nav__item{
                padding: 0px 20px;
                color: $--color-primary;
            }

            .nav__item__signbtn{
                display: flex;
                align-items: center;
                padding: 10px;
                border: solid $--color-primary 2px;
                border-radius: 3px;
                color: $--color-primary;
                cursor: pointer;

                &:hover{
                    background-color: #fff;
                    border-color: transparent;
                    color: #444;
                }
        
            }
        }

        .nav__logo{
            padding: 0px 20px;
            color: $--color-secondary;
            font-size: x-large;
        }
    }

}